[package]
name = "faythe"
version = "0.1.0"
edition = "2018"

[dependencies]
clap = { version = "=4.4", features = ["cargo"] } # We force 4.4 so we don't have to use rustc 1.74
serde = "1"
serde_derive = "1"
serde_json = "1"
openssl = "0"
base64 = "0"
acme-lib = { git = 'https://github.com/DBCDK/acme-lib', branch = 'dbc-fork' }
regex = "1"
lazy_static = "1"
walkdir = "2"
trust-dns-resolver = "0"
env_logger = "0"
prometheus_exporter_base = { version = "=1.4.0", features = ["hyper_server"] }
tokio = { version = "1", features = [ "full" ] }
async-trait = { version = "0" }
dbc-rust-modules = { git = "https://github.com/dbcdk/rust-modules", branch = "main" }
vaultrs = "0"
vaultrs-login = "0"
url = "2"
chrono = "0"
num-traits = "0"
reqwest = { version = "0", features = ["blocking", "json"] }

[profile.release]
panic = "abort"

